@import "tailwindcss";

@theme {
    --color-background: #fffdf5;
    --color-foreground: #000000;

    /* Warna Kolom - Pastikan ini jadi utility colors */
    --color-todo: #ffde59;
    --color-inprogress: #5de2e7;
    --color-done: #7ed957;
    --color-card: #ffffff;

    --font-sans: "Inter", sans-serif;

    /* Definisikan shadow agar bisa dipakai sbg 'shadow-neo' */
    --shadow-neo: 4px 4px 0px 0px #000000;
}

/* Dot Pattern Background */
body {
    background-color: var(--color-background);
    background-image: radial-gradient(gray 1px, transparent 1px);
    background-size: 24px 24px; /* Jarak antar titik */
    color: var(--color-foreground);
    font-family: var(--font-sans);
}
