@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --primary: #B6CBBD;
  --secondary: #754E1A;
  --thirds: #CBA35C;
  --fourth: #F8E1B7;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.primary-text{
    color: var(--primary);
}

.primary-bg{
    background-color: var(--primary);
}

.secondary-text{
    color: var(--secondary);
}
.secondary-bg{
    background-color: var(--secondary);
}

.third-text{
    color: var(--thirds);
}
.third-bg{
    background-color: var(--thirds);
}

.fourth-text{
    color: var(--fourth);
}
.fourth-bg{
    background-color: var(--fourth);
}
